/*Body*/
body {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  background-color: #435ada;
}
/*Header*/
header {position: relative;
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  height:200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Navbar*/
.navbar {
  overflow: hidden;
  background-color:#0A3C91;  
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color:#093A90;
  transition: background-color 0.25s;
  color: rgb(255, 255, 255);
}

.navbar a.active {
  background-color:#ed62ff;
  transition: background-color 0.25s;
  color: black;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 819px) {
  /* Pone la barra de navegación abajo en el smartphone */
  .navbar {width: 100%; bottom: 0;
           position: fixed;
          }

  .navbar a{ font-size: 23px;

  }
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block; 
  }
  .navbar.responsive .icon {
    position: absolute;

    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /*Margen 0 de body en móvil*/
  body {margin-left: 0px;
        margin-right: 0px;}

  header{background-size: cover;
         background-image: url("../images/small.png");
        }
}

/* Pone la barra de navegación arriba en el modo pc*/
@media screen and (min-width: 820px) {
  .navbar {top: 0;
           position: sticky;}

  /*Margen 10 de body en pc*/
  body {margin-left: 10px;
        margin-right: 10px;
       }
}

@media screen and (max-width: 470px) {
  header {background-size: 100vw;
          background-repeat: no-repeat;
          
  }

}

/*Recuadro Página Texto*/
.recuadropagina {margin-top: 0px;
                 padding-left:16px;
                 padding-top:0px;
                 background-color: rgb(23, 40, 70);
                 color: #c7c7c7;
                 font-size: 17px;
                }

@media screen and (max-width: 820px) {
  .recuadropagina {padding-bottom: 30px;
                   font-size: 23px;      
                  }
}         