div.menu {
  background-color:#0A3D91;
  overflow: auto;
  white-space: nowrap;
}

div.menu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.menu a:hover {
  background-color: rgb(46, 100, 185);
}